<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zero.Start.manage.mapper.ManageMapper">

    <!-- 뭐를 하는건지 주석을 남겨주는거 -->
    <select id="findAll" resultType="Manager">
        SELECT
               USERID,
               PASSWORD,
               NAME,
               DEPT
         FROM
               MANAGER
    </select>

    <!--  회원 ID 조회 -->
    <select id="findById" resultType="Manager" parameterType="ManagerParam">
        SELECT
               USERID,
               PASSWORD,
               NAME,
               DEPT
          FROM
               MANAGER
        WHERE
               USERID = #{userId}
        LIMIT 1
    </select>

    <!--  관리자 정보 저장하기  -->
    <insert id="saveManager" parameterType="Manager">
        INSERT INTO MANAGER(USERID, PASSWORD, NAME, DEPT) VALUES (#{userId}, #{password}, #{name}, #{dept})
    </insert>

    <!--  관리자 정보 업데이트  -->
    <update id="updateManager" parameterType="Manager">
        UPDATE MANAGER SET PASSWORD = #{password}, NAME = #{name}, DEPT = #{dept} WHERE USERID = #{userId}
    </update>

    <!--  관리자 계정 삭제  -->
    <delete id="deleteManager" parameterType="String">
        DELETE FROM MANAGER WHERE USERID = #{userId}
    </delete>

</mapper>